body{
	margin: 0px auto;
	font-family: "Verdana";
    font-size: 0.8rem !important;
    line-height: 1.7;
}

.header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0.3em 1em;
}

.logo{
	width: 40%;
}

.logo img{
	width: 100%;
}

.search form input{
	display: none;
}

.icon{
	display: flex;
	justify-content: space-between;
}

.left{
	background-color: #2fa1b3;
	padding: 0.3em 0.3em;
	text-align: center;
}

.left>a i, .left>a span{
	color: white;
	font-size: 85%;
}

.left>a span{
	margin-right: 2%;
}

.mid{
	width: 100%;
	padding: 0.3em 1em;
}

.mid a img{
	width: 100%;
}

.mid a h3, .right ul>li a h5{
	font-size: 90%;
}

a{
	text-decoration: none;
}

li{
	list-style-type: none;
}

.right{
	width: 100%;
	padding: 0.3em 1em;
}

ul{
	padding: 0px;
}

.right ul>li{
	display: flex;
	align-items: center;
	margin: 0.3em 0em;
}

.right ul>li a img{
	width: 4em;
	border-radius: 5px;
	margin-right: 0.3em;
}

#i-menu{
	display: inline;
	color: white;
	float: left;
	margin-left: 2%;
	position: relative;
}

.mobile{
	width: 30%;
	padding-left: 1em;
	z-index: 99;
	position: absolute;
	top: 5.7em;
	background-color: rgba(121,205,205,0.7);
}

.mobile ul>li a{
	color: white;
}

@media only screen and (min-width: 768px){
	.header, .mid, .right{
		max-width: 500px;
		margin: 0px auto;
	}
}

@media only screen and (min-width: 990px){
	.header, .main{
		max-width: 990px;
		margin: 0px auto;
	}

	.logo{
		width: 18%;
	}

	/*search*/

	.search{
		width: 30%;
	}

	.search form{
		display: flex;
		align-items: center;
		width: 100%;
	}

	.search form input{
		display: inline;
		width: 100%;
	}

	/*end search*/

	.main{
		display: flex;
	}

	.left{
		background-color: white;
	}
	.left>a>span, .left>a>i{
		color: #212529;
		display: block;
		text-align: left;
	}
	.left>a{
		border-bottom: 1px solid silver;
	}

	.mid, .right, .left{
		padding-left: 0px;
		padding-right: 0px;
	}

	.desktop{
		width: 100%;
		background-color: #2fa1b3;
	}

	.desktop ul{
		display: flex;
		justify-content: center;
	}

	.desktop ul>li>a{
		color: white;
	}

	.desktop ul>li{
		padding: 0.3em 0.5em;
	}
	
	#i-menu{
		display: none;
	}
}